[Desktop Entry]
Type=Application
Name=Klusters
GenericName=Spike Sorting
Comment=Sort action potentials into clusters manually
Icon=klusters
Exec=klusters %f
TryExec=klusters
MimeType=application/nphys-clu;application/nphys-fet;
Categories=Qt;Science;Biology;
Keywords=electrophysiology;spike sorting;cluster cutting;neuroscience;
